body {
    font-family: 'Calibri';
}

.container {
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
}


/* Contiene las caracteristicas de todas las cajas */
.container div {
    background-color:rgb(50, 50, 207);
    color: white;
    text-align: center;
    width: 50px;
    margin: 10px;
    padding: 15px;
    border-radius: 4px;
}


/* Cajas dentro del contenedor */
.item-1 {
    order: 2;
    align-self: flex-start;
}


.item-2 {
    order: 3;
    align-self: center;
}


.item-3 {
    order: 1;
    align-self: flex-end;
}


.item-4 {
    order: 4;   
    align-self: stretch;
}