body {
    font-family: 'Calibri';
}

.container {
    background-color: rgb(215, 244, 244);
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caja {
    background-color: rgb(68, 68, 255);
    border: 3px solid darkblue;
    color: white;
    flex-basis: 40%;
    text-align: center;
    align-self: flex-start;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
}

.cajaDiferente {
    background-color: rgb(255, 68, 68);
    border: 3px solid darkred;
    color: white;
    flex-basis: 40%;
    text-align: center;
    align-self: center;
    padding: 25px;
    border-radius: 5px;
}